<?xml version="1.0" encoding="UTF-8"?>

<!-- XML문서의 유효성 체크를 위해서 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
   <!-- 마이바티스 설정과 관련된 기본 셋팅을 선언 가능한 영역 -->

   <typeAliases>
      <typeAlias type="com.kh.planA.user.model.vo.User" alias="User"/>
      <typeAlias type="com.kh.planA.myPage.model.vo.myPageView" alias="MyPage"/>
   </typeAliases>
   
   <mappers>
      <!-- DataBase에 사용되는 쿼리문장들을 담은 mapper 파일들을 등록 -->
      <mapper resource="mappers/user-mapper.xml"/>
      <mapper resource="mappers/myPage-mapper.xml"/>
   </mappers>
</configuration>